<div>
    <p class="main-content__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus numquam consequatur nemo qui eos. Amet obcaecati facere placeat, tempore sapiente excepturi, eos consequatur quam, debitis et iure consectetur facilis voluptate.<br><br>
        Информация о нас. Наш телефон +37529552325**
    </p>
</div>