<footer class="p-3 text-bg-dark">
  <div class="d-flex flex-wrap justify-content-between align-items-center border-top container">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-white">© 2024 Company, Inc. All rights reserved.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-white" href="#"><img src="/images/facebook-brands.svg" alt="Facebook"></a></li>
      <li class="ms-3"><a class="text-white" href="#"><img src="/images/instagram-brands.svg" alt="Instagram"></svg></a>
      </li>
      <li class="ms-3"><a class="text-white" href="#"><img src="/images/twitter-brands.svg" alt="Twitter"></a></li>
    </ul>
  </div>
</footer>