<footer class="footer conteiner">
    <p> 2024 My Website. All rights reserved.</p>
    <div class="social-icons">
        <a href="#"><img src="/src/Domain/Views/images/facebook-brands.svg" alt="Facebook"></a>
        <a href="#"><img src="/src/Domain/Views/images/instagram-brands.svg" alt="Instagram"></a>
        <a href="#"><img src="/src/Domain/Views/images/twitter-brands.svg" alt="Twitter"></a>
    </div>

</footer>