* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.conteiner {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.max_conteiner {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

/*======================
    header page
=======================*/

.header {
    background: #303B44;
    min-height: 60px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 20px 20px;

    a {
        color: white;
    }

    a:hover {
        color: rgb(230, 129, 129);
        transition: color 0.3s ease;
    }
}

.time {
    font-size: 18px;
    color: #303B44;
    text-align: center;
    padding-bottom: 20px;
}

.main-content__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
    color: #303B44;
    letter-spacing: 1px;
}

/*======================
    index page
=======================*/

.main-content__content {
    padding: 30px 20px;
    text-align: justify;
    color: #303B44;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/*======================
    users page
=======================*/

.user__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
}

.input-form__label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.input-form__btn {
    background: #303B44;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    button:hover {
        transition: color 0.3s ease;
        color: rgb(230, 129, 129);
    }
}

/*======================
    footer page
=======================*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background: #303B44;
    min-height: 75px;
    color: white;
}

.social-icons {
    display: flex;
    gap: 20px;
}

/*======================
    404 page
=======================*/

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}