
<form class="input-form" action="save/">

    <label class="input-form__label" for="name">Введите имя пользователя: </label>
    <input class="input-form__input" type="text" name="name" placeholder="введите имя пользователя" required>

    <label class="input-form__label"for="birthday">Укажите дату рождения пользователя: </label>
    <input class="input-form__input"type="date" name="birthday" value="2017-06-01" required>
    <button class="input-form__btn"type="submit">Сохранить</button>

</form>

{# /user/save/?name=Иван&birthday=05-05-1991 #}