<footer class="footer conteiner">
    <p> 2024 My Website. All rights reserved.</p>
    <div class="social-icons">
        <a href="#"><img src="./src/Views/img/facebook-brands.svg" alt="Facebook"></a>
        <a href="#"><img src="./src/Views/img/instagram-brands.svg" alt="Instagram"></a>
        <a href="#"><img src="./src/Views/img/twitter-brands.svg" alt="Twitter"></a>
    </div>

</footer>