<header class="header conteiner">
    <nav class="nav">
        <a href="/">Главная</a>
        <a href="/user">Пользователи</a>
        <a href="/user/adduser">Добавить пользователя</a>
        <a href="/about">О нас</a>
        {# <ul>
            {% for item in navigation_items %}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul> #}
    </nav>
</header>